/**
    该页面为浅紫色皮肤
*/
#frame_background{
border-image:url(:/res/pic/background-3.png);
}

#frame_login{background-color:#ffffff}

#frame_pic{
    background-image:url(:/res/pic/3.png);

}

#frame_user_name,#frame_pwd{
    border: 1px solid #696969;
    border-radius: 5px;
}

QLineEdit{
    border: none;
}




#label_login
{
    color:#7185ff;

}


